<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ds.dao.InqMessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ds.model.InqMessage">
        <id column="id" property="id" />
        <result column="msg_content" property="msgContent" />
        <result column="msg_date" property="msgDate" />
        <result column="order_id" property="orderId" />
        <result column="msg_sort" property="msgSort" />
    </resultMap>

</mapper>
