<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ds.dao.InqReservationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ds.model.InqReservation">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="doc_id" property="docId" />
        <result column="start_date" property="startDate" />
        <result column="stop_date" property="stopDate" />
        <result column="res_title" property="resTitle" />
        <result column="res_contact" property="resContact" />
        <result column="id_card" property="idCard" />
        <result column="res_status" property="resStatus" />
    </resultMap>

</mapper>
