<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ds.dao.InqUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ds.model.vo.IquUserVo">
        <id column="user_id" property="id" />
        <result column="user_name" property="userName" />
        <result column="password" property="password" />
        <result column="user_salt" property="userSalt" />
        <result column="user_sex" property="userSex" />
        <result column="img_url" property="imgUrl" />
        <result column="user_type" property="userType" />
        <result column="user_date" property="userDate" />
        <result column="student" property="student" />
        <result column="number" property="number" />
        <association property="doc" column="user_id" select="getByDoc"></association>
    </resultMap>

    <sql id="send">
        id as user_id,
        user_name ,
        password ,
        user_salt ,
        user_sex ,
        img_url ,
        user_type,
        number,
        student
    </sql>

    <select id="getByIds" resultMap="BaseResultMap">
        select <include refid="send"/>  from inq_user where id=#{reId}
    </select>


    <select id="getByDoc" resultType="com.ds.model.vo.InqDoctorsVo">
        SELECT
            al.*,
            dict.dict_value as dep_type_name
        FROM
            ( SELECT doc.*, dep.dep_name FROM inq_doctors AS doc INNER JOIN inq_department AS dep ON doc.doc_status = dep.id
            and doc.doc_user=#{user_id}	) AS al
            LEFT JOIN inq_dict AS dict ON  dict.id=al.doc_status
    </select>



</mapper>
